<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty  scop="context" name="logPath" source="logging.file.path" defaultValue="../logs"/>
    <springProperty scop="context" name="logFile" source="logging.file.name" defaultValue="new-world.log"/>
    <springProperty scop="context" name="applicationName" source="spring.application.name"/>
    <springProperty scop="context" name="logLevel" source="logging.level.root" defaultValue="INFO"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>${filePath}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/%d{yyyy-MM-dd}/${logFile}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="info" />

    <root level="${logLevel}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>